<template name="item">
  <h2>Add an item</h2>
  <p>
    Enter items into your personal inventory. At any point you can decide to add, remove, edit any items.
  </p>


  <form role="form">
    <div class="form-group">
      <label class="sr-only" for="itemType">Item Name</label>
      <input type="text" class="form-control" id="itemType" placeholder="Item Name" required >
    </div>
    <div class="form-group">
      <label class="sr-only" for="itemQuantity">Item Quantity</label>
      <input type="number" class="form-control" id="itemQuantity" placeholder="Quantity" required >
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Click to share with others.
      </label>
    </div>
    <button type="submit" class="btn btn-sm btn-success">Add Item</button>
  </form>

  <h2>Your Gear</h2>
  <div class="table-responsive fow-fluid">
    <table class="table table-striped table-condensed table-hover">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Quanity</th>
          <th>User</th>
          <th>Actions</th>
        </tr>
        {{#each items}}
        <tr>
          {{>inventoryItem}}
        </tr>
        {{else}}
          No items in your inventory yet. Add items above!
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
